@import url('./reset.css');
@import url('./font.css');

*{
    font-family: 'Montserrat';
}



header{
    position: sticky;
    top: 0%;
    z-index: 20;
    background-color: white;
}



.header_in{
    padding: 42px 10px;
}


.heaer_logo{
    width: 162px;
    height: 51px;
}

.heaer_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header_middle{
    display: flex;
    width: 50%;
    border: 1px solid #ddd;
    padding: 0px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




.mobile_search{
    display: none;
    border: 1px solid #ddd;
    padding: 0px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header_middle input{
    width: 90%;
    padding: 5px 10px ;
    font-size: 13px;
   
}

.header_middle button {
    background-color: transparent;
    border-left: 1px solid #ddd;
    padding: 6px 8px ;
}



.login_btn{
    background: #F0EEFF;
    border-radius: 11.2px;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.login_btn:hover{
    color: black;
    background: #c4c3c7;
}
.signup_btn{
    background: #6C5DD3;
    border-radius: 11.2px;
    padding: 19px 29px ;
    color: #fff;
    text-decoration: none;
    margin-left: 18px;
    font-weight:600 ;
}
.signup_btn:hover{
    color: #fff;
    background: #8D28AD;
}



/*header bootom*/

.header_bottom{
    padding: 10px 0px 0px 10px ;
    background: #8D28AD;
    display: flex;
}

.navbar_list{
    margin: 0px;
    padding: 0px;
    
}

.nav_list_item a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    /* color: rgba(255, 255, 255, 0.699963); */

    color: white;
    position: relative;
}

.nav_list_item a:hover {
    color: rgba(255, 255, 255, 0.699963);
}

/* .nav_list_item a.my_active{
    border-bottom: 2px solid #ddd;
} */



.my_active::after{
    content: '';
    display: block;
    position: absolute;
    top: 104%;
    left: 0%;
    width: 97%;
    height: 4px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.header_right{
    display: flex;
}



.navbar{
    padding: 0.3rem !important ;
}



.open_mobile_menu,
.btn {
    display: none !important ;
}




.mobile_header{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(108,93,211,.8);
    z-index: 30;
    transform: translateX(-100%)  ;
    -webkit-transform: translateX(-100%)  ;
    -moz-transform: translateX(-100%)  ;
    -ms-transform: translateX(-100%)  ;
    -o-transform: translateX(-100%)  ;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    
}


.mobile_header_in{
    background-color: white;
    width: 50%;
    height: 100%;
}



.mobile_h_list{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0px;
    /* margin-left: 5px; */
}


.mobile_h_listitem a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.mobile_h_listitem a:hover{
   color: rgb(108,93,211);
   font-size: 14px;
}



.mobile_register{
    margin-top: 15px;
}



.mobile_register a {
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.mobile_register a:hover{
    color: rgb(108,93,211);
   font-size: 14px;
}


.header_category{
    position: relative;
}


.desktop_category_btn{
    color: white;
    padding: 0px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    background-color: transparent;
    text-transform: uppercase;
}

.desktop_category_btn i {
    font-size: 18px;
    color: white;
}
.desktop_category_btn i.my_rotate {
    transform:rotateZ(180deg);
    -webkit-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
    -ms-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
}

.desktop_category_list{
     display: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: white;
    top: 100%;
    transform: translateY(5px);
    width: 100%;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.desktop_category_list.my_show{
    display: flex;
}

.desktop_category_item{
    padding: 10px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.desktop_category_item:hover{
    background-color: #ddd;
}

.desktop_category_item a {
    text-decoration: none;
    color: black;
    padding: 5px;
    text-transform: capitalize;
}
.desktop_category_item a:hover{
    color: black;
} 


.mobile_category{
    display: none;
}

.mobile_category_btn{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 1px 5px 7px rgba(0, 0,0,.15 );
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mobile_category_btn:hover{
    color: black;
}

.mobile_category_btn span{
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}


.mobile_category_btn span.my_rotate{
    transform:rotateZ(180deg);
    -webkit-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
    -ms-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
}

.mobile_category_list_container{
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: thin ;
    scrollbar-color:transparent transparent ;
    position: relative;
}

  
/* Works on Chrome, Edge, and Safari */
.mobile_category_list_container::-webkit-scrollbar {
width: 12px;
}

.mobile_category_list_container::-webkit-scrollbar-track {
background:transparent;
}

.mobile_category_list_container::-webkit-scrollbar-thumb {
background-color:transparent;
border-radius: 20px;
border: 3px solid   transparent  ;
}





.mobile_category_list{
    margin: 0px;
    padding: 0px;
}


.mobile_category_item{
   padding: 5px 0px;
}


.mobile_category_item:hover{
    background-color: #ddd;
}

.mobile_category_item a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.mobile_category_item a:hover{
    color: black;
}



/**************  language part *******************/

.lang_menu{
    position: relative;
}

.lang_btn{
    width: 80px;
    justify-content: space-between;
    padding: 5px;
    background-color: transparent;
}


.lang_btn p  {
  padding: 0px;
  margin: 0px;
}


.lang_btn i{
    color: black;
}


#lang_menu_btn span{
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

#lang_menu_btn span.my_rotate{
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}


#mobile_lang_menu_btn span{
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

#mobile_lang_menu_btn span.my_rotate{
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}




.lang_list{
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0,0,.15 );
}

.lang_list.my_show{
    display: flex;
}



.lang_list_item a {
    text-decoration: none;
    color: black;
    font-weight:500 ;
    font-size: 15px;
    padding: 5px 10px ;
    justify-content: space-between;
}

.lang_list_item a:hover{
    background-color: #ddd;
    color: black;
}


/*********************************/
@media(max-width:1120px){
    .header_middle{
        width: 40%;
    }

}

@media (max-width:940px) {
    .header_middle{
        width: 30%;
    }
}







@media (max-width:990px){
    .nav_list_item a {
        font-size: 17px;
    }
}




@media(max-width:890px){
    
    .login_btn{
        padding: 13px
        
    }

    .signup_btn{
        padding: 11px 9px;
    }

}


@media (max-width:825px){
    .nav_list_item a {
        font-size: 15px;
    }
}



@media  (max-width:800px) {

    .mobile_search{
        display: flex !important ;
    }


    .header_middle{
        display: none;
    }



}


@media (max-width:750px){
    .nav_list_item a {
        font-size: 14px;
    }
}


@media(max-width:735px){

  


    .desktop_category_btn{
        font-size: 15px;
    }
}




@media (max-width:720px){
    .mobile_category{
        display: block;
    }

    .desktop_category_btn{
        display: none;
    }

}


@media (max-width:590px) {
    header{
        padding-bottom: 1px;
    }

    .header_in {
        padding: 12px 10px;
    }



    .header_right{
        display: none;
    }

    .open_mobile_menu,
    .btn{
        display: block !important;
    }


    .header_bottom{
        display: none;
    }


    .mobile_category{
        display: block;
    }

}






@media(max-width :580px){
    .nav_list_item a {
        font-size: 16px !important ;
    }
    
    .login_btn {
        padding: 9px;
    }

    .signup_btn {
        padding: 8px 9px;
    }

}


@media(max-width:550px){
    .nav_list_item a {
        font-size: 15px !important ;
    }
}

@media(max-width:530px){
    .nav_list_item a {
        font-size: 14px !important ;
    }
}




@media(max-width:500px){
    .nav_list_item a {
        font-size: 13px !important ;
    }
}



@media(max-width:480px){

/* 
    header{
        padding-bottom: 1px;
    }

    .header_in {
        padding: 12px 10px;
    }



    .header_right{
        display: none;
    }

    .open_mobile_menu,
    .btn{
        display: block !important;
    }


    .header_bottom{
        display: none;
    }


    .mobile_category{
        display: block;
    } */

}