.singleBook_section{
    margin-top: 25px;
}


.book_image{
    width: 317px;
    height: 457px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.book_image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.book_description{
    width: 72%;
}

.book_name{
    margin: 0px !important;
    font-size: 21px !important ;
    font-weight: 900 !important;
}

.rating_container{
    width: 36%;
}

.sosial_networks_container{
    width: 50%;
    justify-content: space-between;
}

.rating_count{
    font-size: 14px;
    font-weight: 600;
}

.book_review{
    font-size: 14px;
    font-weight: 600;
}

.book_like{
    font-size: 14px;
    font-weight: 600;
}

.sosial_item{
    color: white;
    padding: 7px 14px ;
    border: 1px solid #ddd;
    border-radius: 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc( 96% / 4 );
    text-decoration: none;

}

.sosial_item:hover{
    color: white;
}

.facebook_item{
    background-color: #1E33E5;
}

.twitter_item{
    background-color: #61C3E2;
}

.whatsapp_item{
    background-color: #53C258;

}

.mail_item{
    background-color: #AAAAAA;
}




.book_price_container{
    margin-top: 40px;
}




.author_image{
    width: 40px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 11.172px;
}

.author_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11.172px;
}

.author_excerpt{
    color: #aaa;
    font-size: 14px;
    text-transform: capitalize;
}

.author{
    width: 17%;
    align-items: center;
}

.book_author_name{
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}

.single_book_new_price{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.book_price{
    display: flex;
    width: 39%;
    justify-content: space-between;
    align-items: center;
}

.single_book_old_price{
    font-size: 15px;
    color: grey;
}

.discount_percent{
    padding: 3px 12px;
    background-color: #FF754C;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
}


.book_price_btns{
    display: flex;
    width: 40%;
    justify-content: space-between;
}


.add_to_cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0EEFF;
    color: #451355;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 10px 15px;
    font-weight: 600;
    text-decoration: none;

}

.add_to_cart:hover{
    color:#451355 ;
}

.buy_btn{
    background-color: #6C5DD3 ;
    padding: 10px;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 182px;

}


.buy_btn:hover{
    color: white;
}



.now_buy_btn{
    background-color: #6C5DD3 ;
    padding: 10px;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 182px;
    animation-name: nowBuy;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.now_buy_btn:hover{
    color: white;
}

@keyframes nowBuy {
    0%,100%{
        background-color:  #6C5DD3 ;

    }
    50%{
        background-color:  red ;

     }
}



.details_section{
    margin: 20px;
}


.details_left{
    width: 70%;
}

.details_left h2{
    font-size: 21px;
    font-weight: 600;
}

.details_right h2{
    font-size: 21px;
    font-weight: 600;
}


table {
    border-collapse: separate !important;
    border-spacing: 0;
    width: 100%;
    margin: 23px 0px ;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}
.bordered tr:hover {
    background: #ECECEC;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.bordered th {

    background-image: -moz-linear-gradient(top, #F8F8F8, #ECECEC);
    background-image: linear-gradient(top, #F8F8F8, #ECECEC);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: 1px solid #DDD;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}


.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table_tags{
    background: #F0EEFF;
    border-radius: 11.241px;
    padding: 5px;
    font-size: 13px;
    color: #6C5DD3;
    margin-top: 3px;

}

.tags{
    line-height: 33px;
}

.details_right{
    width: 25%;
}




.related_item{
    margin-top: 23px;
}


.related_item_img{
    width: 113px;
    height: 158px;
    background: #C4C4C4;
    border-radius: 11.241px;
}

.related_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #C4C4C4;
    border-radius: 11.241px;
}

.item_category{
    width: 205px;
}

.related_item_title{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.item_category span:not(:last-child):after{
    content: ',';

}

.item_category span{
    color:#6C5DD3 ;
    font-size: 12px;

}

.item_rewiev{
    font-size: 12px;
    color: #c7c7c7;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 5px;
}
.item_add_to_cart{
    color: #451355;
    text-decoration: none;
    margin-top: 15px;
}

.item_add_to_cart:hover{
    color: #451355;

}

.add_comment{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    justify-content: space-between;
}


.input_container{

    width: 90%;
    padding: 10px;
}

.input_container  textarea{
    width: 100%;
    /* border-bottom: 1px solid #ddd; */
}



.send_comment_btn{
    color: white;
    background-color: green;
    padding: 16px 18px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.user_comments_list{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

.user_comments_list li:not(:last-child){
    border-bottom: 1px solid #ddd;
}



.user_img{
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
}

.user_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.user_name{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}


.user_comment_text{
    margin-left: 5px;
}


.book_description{
    text-align: justify;
}


.audioDropDownBtn_container{
    width: 100%;
}



.audioDropDownBtn{
    text-decoration: none;
    padding: 5px;
    color: white;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    background-color: #6C5DD3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.audioDropDownBtn i{
    color: white;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.audioDropDownBtn i.my_rotate{
    transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
}


.audioDropDownBtn:hover{
    color: white;
}

.book_audio_list{
    margin: 0px;
    padding: 0px;

}




.book_audio_item{
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}



.book_audio_item:hover{
    background-color: #ddd;
}


.audio_number{
    font-weight: 500;

}


.audio_title{
    text-transform: capitalize;


}


@media (max-width:1360px){

    .details_right {
        width: 27%;
    }

}




@media (max-width:1345px){
    .book_price_btns {
        width: 42%;
    }
}



@media(max-width:1310px){
    .author{
        width: 200px;
    }
}


@media(max-width:1270px){
    .sosial_networks_container  {
        width: 60%;
    }

    .sosial_networks_container a  {
        width: 113px;
    }


    .details_left{
        width: 67%;
    }

    .details_right{
        width: 30%;
    }
}




@media (max-width:1160px){
    .details_right{
        width: 31%;
    }
}


@media(max-width:1120px){
    .book_image{
        height: 376px;
        width: 278px;
    }
}


@media (max-width:1110px){
    .details_left {
        width: 64%;
    }

    .details_right {
        width: 33%;
    }
}


@media (max-width:1090px){
    .book_price_btns {
        width: 50%;
    }

    .bordered th {
        width: 38%;
    }
}


@media (max-width :1050px){
    .details_left {
        width: 61%;
    }

    .details_right {
        width: 36%;
    }


}




@media (max-width:1025px) {
    .book_description {
        width: 70%;
    }
}


@media (max-width:990px){
    .sosial_item{
        font-size: 13px;
    }



}



@media (max-width:975px){
    .book_subtitle{
        flex-direction: column;
    }

    .sosial_networks_container{
        margin-top: 15px;
    }

    .rating_container{
        width: 60%;
    }

    .book_price {
        width: 37%;
    }


}


@media (max-width:960px) {
    .book_description {
        width: 69%;
    }

    .details_right {
        width: 38%;
    }



}


@media(max-width:940px){
    .book_price_btns{
        width:55%;
    }

    .buy_btn{
        width: 112px;
    }

    .book_description {
        width: 66%;
    }
}



@media (max-width:910px){

    .details_left {
        width: 57%;
    }

    .details_right {
        width: 39%;
    }



    .bordered th {
        padding: 6px !important ;
        font-size: 14px;
    }

    .bordered td{
        font-size: 14px;
        padding: 6px !important;
    }
}


@media (max-width:890px){
    .details_right{
        width: 41%;
    }
}


@media (max-width :850px){
    .book_description {
        width: 64%;
    }
}


@media (max-width:830px){
    .details_left{
        width: 55%;
    }

    .details_right {
        width: 44%;
    }
}


@media (max-width:820px){
    .book_description{
        width: 62%;
    }
}


@media(max-width:800px){
    .book_price_container{
        flex-direction: column;
    }

    .book_price{
        width: 50%;
    }

    .book_price_btns{
        margin-top: 15px;
        width: 65%;
    }






}



@media (max-width:780px){
    .book_description{
        width: 60%;
    }

    .details_left{
        width: 51% ;
    }

    .details_right{
        width: 47%;
    }
}


@media (max-width:740px){
    th {
        font-size: 12px;
    }

    td{
        font-size: 12px;
    }

    .related_item{
      flex-direction: column;
    }

    .related_item_img {
        width: 100%;
        height: 146px;
    }

    .item_add_to_cart{
        margin-top: 5px;
    }


}


@media (max-width:720px){
    .book_description{
        width: 58%;
    }
}

@media (max-width:700px){

    .author{
        width: unset;
    }


    .sosial_networks_container{
        justify-content: unset;
    }

    .sosial_item span {
        display: none;
    }

    .sosial_item:not(:first-child){
        margin-left: 5px;
    }

    .sosial_item{

        width: initial !important ;
        padding: 12px 15px;
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
    }

    .rating_container{
        width: 80%;
    }

    .sosial_networks_container{
        width: 100% !important;

    }


    .details_section {
        margin: 0px;
        margin-top: 15px;
    }



    .details_in{
        flex-direction: column;
    }

    .details_left{
        width: 100%;
    }

    .details_right{
        width: 100%;
    }

    .related_in{
        display: flex;
        padding-bottom: 25px;
        border-bottom: 1px solid #ddd;
    }

    .related_item{
        width: calc( 100% / 3 ) ;
    }

    .related_item:not(:nth-child(3n)){
        margin-right: 5px;
    }

    .item_category{
        width: 100%;
    }

    .imdb_count{
        font-size:13px;
    }

    .item_add_to_cart{
        font-size: 14px;
    }

}


.rateus_container > button {
    border-radius:5px ;
    padding: 5px;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    text-transform: capitalize;
}


.star-rating {
    border:solid 1px #ddd;
    border-radius: 5px;
    display:flex;
    flex-direction: row-reverse;
    font-size:2em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

  .star-rating input {
    display:none;
  }

  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }

  .star-rating :checked ~ label {
    color:#f90;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }


  .modal-body button{
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 0px 15px;
      font-size: 21px;
}



@media (max-width:670px){
    .book_price_btns {

        width: 71%;
    }

    .author_excerpt {
        font-size: 13px;
    }

    .book_author_name{
        font-size : 15px ;
    }

    .single_book_new_price{
        font-size: 20px;
    }

    .book_description{
        width: 56%;
    }

}




@media (max-width:655px){
    .book_image {
        height: 347px;
        width: 196px;
    }


    .book_description {
        width: 65%;
    }



}


@media (max-width:640px){
    .related_item {
        width: calc( 98% / 3 );
    }
}




@media (max-width:600px){
    .book_description{
        width: 63%;
    }

    .book_image{
        min-width: 196px;
    }

    .rating_container{
        width: 96%;
    }

}




@media (max-width:580px){
    .book_price{
        width: 80%;
    }

    .book_price_btns{
        width: 80%;
    }
}



@media (max-width:540px){

    .book_price_btns{
        width: 100%;
    }


    .add_to_cart{
        font-size: 13px;
    }

    .buy_btn{
        font-size: 13px;
        padding: 5px;
    }

    .book_description p{
        font-size: 15px;
    }

}

/*  ******************  Mobil design start from here  ******************* */
@media (max-width : 480px){
    .book_description p{
        font-size: 13px;
    }

    .details_left h2{
        font-size: 17px;
    }
    .book_name{
        font-size: 17px;
        margin-bottom: 10px;
    }

    .send_comment_btn{
        padding: 10px 12px;
    }
}




@media (max-width:460px){
    .book_inner{
        flex-direction: column;
    }

    .book_image{
        width: 100%;
    }

    .book_description{
        width: 100%;
        margin-top: 10px;
    }

    .book_price {
        width: 63%;
    }


    .rating_container {
        width: 63%;
    }

    .about_author{
        margin-top: 20px;
    }


}

@media (max-width:420px) {
    .rating_container {
        width: 73%;
    }
}


@media (max-width:400px){
    .related_in {
        flex-wrap: wrap;
    }

    .related_item {
        width: calc( 97% / 2 );
    }
}


@media (max-width:350px){
    .related_item{
        width: calc( 96% / 2 );
    }
}


@media (max-width:340px){
    .rating_container {
        width: 83%;
    }

    .book_author_name {
        font-size: 14px;
    }

    .bordered th{
        width: 41%;
    }
}
